<%- include("header") -%> 
<h2>About</h2>

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde ducimus blanditiis et debitis perferendis excepturi sint consectetur error voluptates. Ipsum ab asperiores voluptatibus ullam obcaecati consectetur facilis voluptas sed?
<%- include("footer") -%> 